@model GadgetStore.Models.Category

<div class="container mt-5">
    <h1 class="text-primary">Create Category</h1>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form asp-action="CreateCategory" method="post">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
